{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>

        MOUSE CHANGER

    </title>
    <link rel="shortcut icon" href="#" type="image/x-icon">

    {% block style %}
    {% endblock style %}

    <link href="https://fonts.googleapis.com/css?family=B612&display=swap" rel="stylesheet">
        
    <script src="{% static "js/index.js" %}"></script>
    <script src=""https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js""></script>
</head>

<body>

    <div class="body container">
        {% block content %} {% endblock content %}
    </div>

    


</body>


</html>
