{% extends 'base.html' %} {% load static %} {% block content %}

<h1>Atur Sensitivitas DPI Mouse</h1>
<form method="POST" action="{% url 'home_page:homepage' %}">   
    {% csrf_token %}
    <p>Polling Rate</p>
    <p>Current: {{ current_rate }} </p>
    <input name="nominal_rate" id="nominal_rate" class="form-control" type="number" oninput="validity.valid||(value='');" min="1"  class="ml-1" value="" placeholder="Nominal Rate">      
    <button type="submit" id="withdraw_btn" class="btn btn-primary"  >
        Ubah 
    </button>
    <br>
    <br>
    <p>Resolution</p>
    <p>Current: {{ current_resolution }} </p>
    <input name="nominal_resolution" id="nominal_resolution" class="form-control" type="number" oninput="validity.valid||(value='');" min="1"  class="ml-1" value="" placeholder="Nominal Resolution">      
    <button type="submit" id="withdraw_btn" class="btn btn-primary">
        Ubah
    </button>
</form>

</br>

{% endblock content %}
